.modal-wrapper {
  position: absolute;
  top: 25%;
  height: 72%;
  width: 95%;
  max-width: 675px;

  background-color: #f3e7ca;
  border: 9px solid #ca933a;
  border-radius: 30px;
  z-index: 1;
}

.star-container {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 2%;
}

.score-star {
  max-width: 20%;
}

.score-star-push {
  transform: translateY(-15%);
}
