$pokedex-resize: 1.7;

.pokedex-modal-container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  right: 2%;
  justify-content: baseline;
  align-items: flex-end;
}

/* Pokedex body */
.pokedex-modal-wrapper {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 5%;
  height: calc(#{$pokedex-resize} * 464px);
  width: calc(#{$pokedex-resize} * 294px);
  z-index: 2;

  .pokedex-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: purple;
    background-size: contain;
    background-image: url(../../../../public/img/pokedex.png);
    background-repeat: no-repeat;
    z-index: 1;
  }
  /* Pokedex screen */
  .pokedex-screen {
    display: grid;
    justify-content: center;
    background-color: #ef4a49;
    border: 3px solid rgb(49, 56, 57);
    border-radius: 5%;
    margin: 36% 0 0 5%;
    height: 75%;
    width: 78%;
  }

  .all-mons-wrapper {
    border: 3px solid black;
    display: grid;
    background-color: green;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.2% 0.2%;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
  }

  .pokedex-icon {
    border: 3px solid black;
    border-radius: 5%;
    background-color: white;
    height: auto;
    width: 60%;
  }

  .pokedex-icon .caught {
    filter: brightness(0.1);
  }

  img .not-caught {
    /* *** make black if pokemon isnt caught */
  }
}
/* Animation */
.slide-from-left {
  animation: slide-from-left 1s ease-out;
}
@keyframes slide-from-left {
  0% {
    transform: translateX(-2000px);
  }
  60% {
    transform: translateX(30px);
  }
  80% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 500px) {
}
